body{
    margin: 0;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    color: #40514E;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;
}
h2{
    font-size:2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
span{
    text-decoration: underline;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #BFBFBF;
    width: 4%;
    margin: 100px auto 100px auto;
}
.topcontainer{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middlecontainer{
    height: 200px;
    width: 200px;
}
.bottom-cloud{
    position:absolute;
    bottom:300px;
    left:300px;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.profile-photo{
    width:15%;
}
.code-image{
    width:25%;
    margin:38px 25px 36px auto;
    float:left;
}
.gamer-image{
    width:25%;
    float:right;
}
.skill-row{
    width:50%;
    margin: 75px auto 75px auto;
    text-align: left;
    line-height: 2;
}
.code-h3{
    margin-bottom: -14px;
}
.gamer-h3{
    margin-bottom:-14px;
}
.profile-photo{
    margin-top:50px;
}
.first-line{
    margin-bottom:-20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
 }

a{
    color: #11999E;
    text-decoration: none;
}
.contact-me{
    margin-bottom:100px;
    line-height: 2;
}

.bottom-container{
    /* background-color: #65c5b9; */
    background-color: #66BFBF;
    padding-top:75px;
    padding-bottom:50px;
}
.footer-link{
    margin:18px;
}
.footer-name{
    color:#EAF6F6;
}